.textArea {
  background-color: #bcbcbc;
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  resize: none;
  font-family: var(--prompt);
}

.textArea::placeholder {
  color: #3e3e3f;
  font-size: 18px;
}
