.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.link-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.link {
  color: #bfffc3;
}
