.title {
  color: #81fe88;
  font-size: 31px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form button {
  align-self: end;
  display: flex;
  gap: 1rem;
  align-items: center;
}
